body {
    height: 300mvh;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(73, 73, 73);
    font-size: 25px;
}

.row {
    background-color: rgb(248, 239, 221);
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    padding: 20px 60px;
}

.col {
    display: flex;
    flex-wrap: wrap;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    color: rgb(73, 73, 73);
    font-size: 25px;
    position: sticky;
    top: 0;
    background-color: white;
}



a {
    text-decoration: none;
    color: rgb(51, 50, 50);
}

a:hover {
    text-decoration: underline;
}

.navbar-toggler {
    width: 90px;
    height: 50px;
    background-color: white;
    border-radius: 13px;
    cursor: pointer;
}

.navbar-toggler:hover {
    transform: scale(1.1);
}

.navcenter {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}

.bodyrow {
    display: flex;
    padding: 0 0;

}

.bodycol {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 650px;
    align-items: center;
    padding-left: 50px;
}

.bodycol1 {
    flex: 2.4;
    justify-content: flex-end;
}

.btn {
    height: 60px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(248, 239, 221);
    background-color: olive;
    cursor: pointer;
    padding: 5px 20px;
}

.btn:hover {
    transform: scale(1.1);
}

.pagebreak {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(70, 69, 69);
    height: 98px;
    justify-content: space-between;
}

.row2 {
    background-color: rgb(242, 255, 216);
    height: 600px;
}

.row3 {
    background-color: white;
    height: 400px;
    justify-content: space-around;
}

#but {
    background-color: rgb(242, 255, 216);
    color: olive;
    border-color: olive;
}

.flexmic {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

#scris {
    color: olive;
    padding-top: 15px;

}

.card {
    width: 500px;
    height: 200px;

}

.colnow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#padding {
    padding-top: 120px;
}

.imgstyle {
    width: 400px;
    height: 500px;
    padding: 0 40px;
}

.row4 {
    background-color: white;
    justify-content: center;
}


.containerpoze {
    background-color: white;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: nowrap;
    height: 200px;
    width: 870px;
    column-gap: 20px;
    padding: 20px 80px;

}

.cardpoze {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    background-color: rgb(248, 239, 221);
    width: 400px;
    height: 150px;
    font-size: 15px;

}

.cardpoze:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    filter: brightness(90%);
}

.colpoze {
    display: flex;
    flex-direction: column;
    width: 400px;

}

.scrismic {
    font-size: 10px;
}

.carda {
    width: 600px;
    height: 200px;

}

.rowh {
    height: 100px;
}

.row5 {
    height: 150px;
}

.imgdescript {
    border-radius: 20px;
}

div.gallery {
    margin: 5px;

    margin: auto;
    width: 180px;
    text-align: center;

}

div.gallery:hover {
    opacity: 1.0;

    background-color: rgb(248, 239, 221);
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;

}

/* Details*/
summary {
    font-weight: bold;
    color: rgb(248, 239, 221);
    background-color: olive;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding-bottom: 10px;

}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;

}

.rowfooter {
    justify-content: space-around;
}

.text-centera {
    text-align: center;
}

.cardend {
    text-align: center;
    width: 1000px;
}

.rowcenter {
    justify-content: center;

}

.colcenter {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aha{

}

.poz{

}

.cardu{

}

.rowfooter{

}

/*Media Screen*/
@media screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    .navbar {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 620px;
        row-gap: 10px;
        font: 15px;
    }

    .container{
        font-size: 20px;
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }

    .bodyrow img{
        max-height: 300px;
        max-width: 470px;
    }

    .bodycol button{
        margin-bottom: 20px;
    }

    .col img{
        max-width: 450px;
        max-height: 300px;
    }
    .col p{
        font-size: 15px;
    }

    .flexmic button{
        max-height: 30px;
        max-width: 150px;
        font-size: 15px;
    }

    .flexmic {
        font-size: 15px;
    }

    .card{
        max-width: 400px;
        font-size: 20px;
    }

    .poz{
        max-width: 150px;
        max-height:200px;
    }

    .aha{
        font-size: 5px;
    }

    .cardu{
        font-size: 1px;
    }
   .imgstyle{
    max-width: 100px;
    max-height: 150px;
    padding:10px;
   }

   .containerpoze{
    max-width: 400px;
    margin-left: -140px;
   }
    
   .carda{
    max-width: 400px;
   }

   .rowfooter{
    flex-direction: column;
    text-align: left;
   }

   .cardend{
    text-align: left;
    max-width: 400px;
    
   }
}

@media screen and (max-width:440px) {
    .cardend{
        max-width: 350px;
    }

    .carda{
        max-width: 350px;
    }

    h1{
        font-size: 20px;
    }

    .card{
        max-width: 350px;
    }

    .aha{
        font-size: 1px;
    }
}